<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Flight</title>
</head>
<body>
    <h1>Add New Flight</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li style="color: red;">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form method="post" action="/add_flight">
        <label for="airline_name">Airline Name:</label>
        <input type="text" name="airline_name" required>
        <br>
        <label for="departure_time">Departure Time:</label>
        <input type="text" name="departure_time" required>
        <br>
        <label for="capacity">Capacity:</label>
        <input type="number" name="capacity" required>
        <br>
        <input type="submit" value="Add Flight">
    </form>
    <br>
    
</body>
</html>
